<h2>Station Information</h2>
<ul>
  <li class="name"><%= @station.name %></li>
  <li class="lat"><%= @station.lat %></li>
  <li class="lon"><%= @station.lon %></li>
</ul>
<div id="graph"></div>
<%= javascript_include_tag "stations/show.js" %>
<script>
showGraph(<%= @station.id %>);
</script>
