<style>
#layout {
  position: relative;
  padding-left: 0;
}
#menu {
  width: 160px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
}
#menu .pure-menu {
  border: none;
}
#menu .pure-menu-heading {
  border: none;
}
#main {
  position: absolute;
  left: 160px;
}
svg g path:hover {
  fill: "#0000FF";
}
</style>
<div id="layout" ng-controller="MapCtrl">
<div id="menu">
  <div class="pure-menu pure-menu-open">
    <ul>
      <li class="pure-menu-heading">Controller</li>
      <li><a href="" ng-click="showMarker()">Marker</a></li>
      <li><a href="" ng-click="clearMap()">Group</a></li>
      <li><a href="" ng-click="geoJsonMarker()">GeoJSON</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Home</a></li>
    </ul>
  </div>
  <input type="number" width="150" ng-model="group">
</div>
<div id="main">
  <leaflet width="1000px" height="700px" center="center" layers="layers" defaults="defaults" markers="markers" geojson="geojson"></leaflet>
</div>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js" %>
<%= javascript_include_tag "/assets/angular-leaflet-directive.min.js" %>
</div>
