<style>
body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
}
#info {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 340px;
  top: 0px;
  bottom: 200px;
  right: 0px;
  padding: 10px;
}
#ctrl {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 340px;
  height: 180px;
  padding: 10px;
}
#graph {
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  height: 100%;
  right: 360px;
}
button {
  border: 0px;
  background: #777;
  color: #FFF;
  cursor: pointer;
}
button:hover {
  background: #FFF;
  color: #777;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>
<div id="map"></div>
<div id="info"></div>
<div id="ctrl"></div>
<div id="graph"></div>
<%= javascript_include_tag "application" %>
