<div id="station-<%= @weather.id %>">
  <ul>
    <li class="temperature"><%= @weather.temperature %></li>
    <li class="time"><%= @weather.time %></li>
    <li class="pressure"><%= @weather.pressure %></li>
    <li class="sea_level_pressure"><%= @weather.sea_level_pressure %></li>
  </ul>
</div>
