<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<title>MyApp</title>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.0.min.js" %>
<%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' %>
<%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js' %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js" %>
</head>
<body>
<%= yield %>
</body>
</html>
