<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<title>MyApp</title>
<%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.3.0/pure-min.css" %>
<%= javascript_include_tag "http://code.jquery.com/jquery-2.1.0.min.js" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js" %>
</head>
<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-witdh: 1.5px;
}
</style>
<body>
<%= yield %>
</body>
</html>
